@tailwind base;
@tailwind components;
@tailwind utilities;


/* Flip effect */
@keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
    animation: flip 0.6s;
  }
  